.newNote {
    color: white;
    display: flex;
    flex-direction: column;
}

.noteCreation {
    margin: 10px;
    width: 25vw;
}

.noteContentCreation {
    width: 25vw;
    margin: 10px;
}

.noteCreation_button {
    background-color: #cacaca;
    border-radius: 30px;
    border: 0;
    color: black;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

a.noteCreation_button {
    padding: 16px 8px 8px;
}

.noteCreation_button:hover {
    cursor: pointer;
}